#root {
    /* height: 100vh;
    background-image: url('./stock-images/pexels-merlin-lightpainting-10874572.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}