.Company {
    border: solid black;
    margin: 1em;
    width: 70%;
}

.CompanyLink {
    display: flex;
    width: 80%;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
}

img{
    max-height: 80px;
    max-width: 80px;
}
